.about_container{
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    vertical-align: middle;
    width: 50%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
h1{
    margin: auto
}

h3{
    font-weight: lighter;
}
svg{
    background: none;
}
#screenshots img{
    margin: auto;
    justify-content: center;
    text-align: center;
    align-self: center;
    background-color: transparent;
    border-bottom: dashed;
    height: 500px;
    width: 50%;
}